/*reset*/
* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

/* estilos del index */
h1 {
    margin-top: 2rem;
    font-size: 3rem;
    text-decoration: underline rgb(49, 159, 231);
    font-family: Tiemann, serif;
    text-align: center;
}

#searchText {
    margin-top: 0.25rem;
    font-size: 2rem;
    text-decoration: underline rgb(49, 159, 231);
    font-family: Tiemann, serif;
    display: block;
}

#search {
    display: inline;
    width: 20rem;
}

#mainpro {
    display: flex;
    flex-wrap: wrap;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

.volver {
    color: black;
}
/* estilos de las utilidades del index */
.carrito__img {
    width: 8rem;
    height: 8rem;
}

.utilidades {
    display: grid;
    grid-template-areas:
        "buscador categorias carrito";
    grid-template-columns: 20rem 1fr 1fr;
    width: 100%;
}

.carrito {
    width: 8rem;
    height: 8rem;
    grid-area: carrito;
}

.categorias {
    grid-area: categorias;
}

.buscador {
    margin: 1rem;
    grid-area: buscador;
}
/* estilos de las estiquetas de productos */
.mainpro__hijo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border: 0.3rem solid rgb(32, 97, 138);
    border-radius: 0.5rem;
    padding: 2rem;
}

#mainpro {
    display: flex;
    justify-content: left;
}

.mainpro__hijo__img {
    width: 8rem;
    height: 8rem;
}

/* estilos de las categorias */
.categorias {
    list-style: none;
}
.categorias__mostrar__hijo {
    display: none;
    list-style: none;
    padding-left: 0rem;
    padding: 1rem;
    position: absolute;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 3px;
}

.categorias__mostrar:hover>ul {
    display: block;
}

/* estilos carrito */
.finalizarSi {
    display: inline;
}

.noMostrar {
    display: none;
}

.cruz {
    width: 2rem;
    height: 2rem;
}